:root {
  --md-admonition-icon--graphql: url(https://raw.githubusercontent.com/simple-icons/simple-icons/6aa9901ebf6f7b0ecbe82e17efa6713fe61529af/icons/graphql.svg);
}

/* GraphQL Admonition */

.md-typeset .admonition.graphql,
.md-typeset details.graphql {
  border-color: rgb(225, 0, 152);
}

.md-typeset .graphql > .admonition-title,
.md-typeset .graphql > summary {
  background-color: rgba(225, 0, 152, 0.1);
}

.md-typeset .graphql > .admonition-title::before,
.md-typeset .graphql > summary::before {
  background-color: rgb(225, 0, 152);
  -webkit-mask-image: var(--md-admonition-icon--graphql);
  mask-image: var(--md-admonition-icon--graphql);
}
